# Configuration for Example DB
#
# if parameter set to -1 or None, it's usually a dummy variable and the exact value 
# will be calculated in the simulation. No need to toggle them.
#
# Some C,H,O,N molecules. No S or P as 'main' gases.
#
# dev version
# 0.7.1


["Molecule"]
	[["H2O"]]
		component = 1,1,1	

["DEV"]	
		
		
		